{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{else}}
{{/each}}

<div class="container">
    <h2>Localidade:</h2>
</div>

<div class="container mt-4">
    <div class="d-flex justify-content-center">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d235203.81500692177!2d-43.58841988251077!3d-22.9111720903467!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9bde559108a05b%3A0x50dc426c672fd24e!2sRio+de+Janeiro%2C+RJ!5e0!3m2!1spt-BR!2sbr!4v1476880758681" width="1000" height="500" frameborder="0" style="border:0" allowfullscreen></iframe >
    </div>
</div>
<div class="container mt-5">
    <h2>Entre em contato:</h2>
</div>
<hr>
<div class="container mt-4">
    <div class="d-flex justify-content-center">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <form action="" method="POST">
                    
                        <label for="nomeCompleto">Seu nome completo:</label>
                        <input type="text" name="nomeCompleto" id="nomeCompleto" class="form-control">
                        
                        <label for="nome">Carro:</label>
                        <input type="text" name="nome" id="nome" class="form-control">

                        <label for="assunto">Assunto: </label>
                        <textarea name="assunto" id="assunto" cols="50" rows="5" class="form-control"></textarea>
                    </form>

                    <a href="/"> 
                        <button class="btn btn-warning mt-4">Voltar</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div><br>