<div class="centralizadno">
  <div class="row">
    <div class="col text-center">
        <a href="/carros" ><button type="button" class="btn btn-primary btn-lg">Ver carros</button></a> 
    </div>
  </div>
</div>

<style>
    body{
        background-color: #81F7F3;
    }
    .centralizadno {
        width: 50%;
        height: 50%;
        position:absolute;
        top:50%;
        left:42%;
        margin-top:-60px;
        margin-left:-17%;
    }
</style>